.footer-container {
  padding: 32px 16px;
  margin: 0 auto;
  width: 100%;
}
.footer-content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
}

.footer-logo-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-logo-content h2 {
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: 700;
}

.footer-logo p {
  font-size: 14px;
  color: #64748b;
}

.footer-links h3{
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  font-size: 14px;
}

.footer-links a:hover {
  color: #0066cc;
}

.footer-credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  gap: 16px;
}

.footer-credits p, .footer-credits a {
  font-size: 14px;
  color: #64748b;
}

.footer-credits a:hover {
  color: #0066cc;
}

@media (min-width: 768px){
  .footer-container {
    padding: 48px 32px;
  }
  .footer-credits {
    flex-direction: row;
  }
}

@media (min-width: 1400px){
  .footer-container {
    max-width: 1400px;
  }
}