.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 48px 16px;
  background-color: rgba(245, 247, 250, 0.8);
}

.contact-hero h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.contact-hero p {
  font-size: 16px;
  max-width: 100%;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1024px;
  padding: 32px 16px;
}

.contact-content p{
  text-align: justify;
  font-size: 16px;
  color: #64748b;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .contact-content {
    flex-direction: row;
    gap: 64px;
    padding: 64px 64px;
  }
}

/* .contact-content [type="text"],.contact-content [type="email"],.contact-content textarea {
  border-width: 0;
}

.contact-content [type="text"]:focus,.contact-content [type="email"]:focus,.contact-content textarea:focus {
  outline: none !important;
} */