.ishihara-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 16px;
  background-color: rgba(245, 247, 250, 0.8);
}

.ishihara-test-container h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.ishihara-test-container p {
  font-size: 16px;
  max-width: 100%;
}

.content-ishihara-test {
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.content-ishihara-test .cardbody-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.ishihara-test-plates, .ishihara-test-controls {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .content-ishihara-test .cardbody-test {
    flex-direction: row;
    justify-content: center;
  }
} 