.ishihara-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px;
  background-color: rgba(245, 247, 250, 0.8);
}

.ishihara-test-container h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.ishihara-test-container p {
  font-size: 16px;
  max-width: 100%;
}

.content-ishihara-test {
  width: 100%;
  max-width: 1024px;
}

.content-ishihara-test .cardbody-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.ishihara-test-plates, .ishihara-test-controls {
  flex: 1 1 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ishihara-test-plates img {
  max-width: 250px;
}

@media (min-width: 400px) {
  .ishihara-test-plates img {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .content-ishihara-test .cardbody-test {
    flex-direction: row;
    justify-content: center;
  }

  .ishihara-test-plates img {
    max-width: 400px;
  }
} 
