.ishihara-test-plates, .ishihara-test-controls {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ishihara-test-plates img {
  max-width: 250px;
}

@media (min-width: 400px) {
  .ishihara-test-plates img {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .ishihara-test-plates img {
    max-width: 400px;
  }
}

/* Technical Details */
.technical-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.technical-details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}