.tests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 16px;
  background-color: rgba(245, 247, 250, 0.8);
} 

.tests-container p {
  max-width: 100%;
  font-size: 16px;
}

.tests-container h3 {
  font-size: 18px;
  color: #64748b;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .tests-container {
    padding: 96px 32px;
  }
}
@media (min-width: 1280px) {
  .tests-container {
    padding: 112px 32px;
  }
}